<launch>

<rosparam file="$(find plz_plz_description)/launch/controller.yaml" command="load"/>
<node args="Rev2_position_controller Rev6_position_controller Rev8_position_controller Rev9_position_controller Rev13_position_controller Rev14_position_controller Rev15_position_controller Rev18_position_controller Rev19_position_controller Rev20_position_controller Rev21_position_controller joint_state_controller " name="controller_spawner" ns="plz_plz" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/plz_plz/joint_states"/>
</node>

</launch>